<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New category</title>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<style type="text/css">
    body {
        padding: 10px;
    }

    label {
        display: inline-block;
        width: 100px;
    }

    input:read-only {
        background: lightgray;
    }

    .row {
        margin-top: 10px;
    }

    h1 {
        color: #228b22;
    }

    h2 {
        font-size: 80%;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #228b22;
    }

</style>
<body>

<form id="add-form" name="category">
    <div class="row">
        <div class="column">
            <h2>Add new category:</h2>
            <div class="row">
                <label for="name-input">Name:</label>
                <input id="name-input" name="name" type="text"/>
            </div>

            <div class="row">
                <label for="balance-input">balance:</label>
                <input id="balance-input" name="balance" type="text"/>
            </div>

            <div class="row">
                <label for="percent-input">percent:</label>
                <input id="percent-input" name="percent" type="text"/>
            </div>

            <div class="row">
                <label for="comment-input">comment:</label>
                <input id="comment-input" name="comment" type="text"/>
            </div>

            <div class="row">
                <label for="purposeAmount-input">purposeAmount:</label>
                <input id="purposeAmount-input" name="purposeAmount" type="text"/>
            </div>
        </div>
        <div class="column">
            <h2>Actions</h2>
            <input name="submit" id="submit1" type="submit" value="Save category">
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('#submit1').click(function (event) {
            event.preventDefault();
            ajaxPostAddNewCategory();
        });

        function ajaxPostAddNewCategory() {

            let category = {};
            category.name = $('#name-input').val();
            category.balance = $('#balance-input').val();
            category.percent = $('#percent-input').val();
            category.comment = $('#comment-input').val();
            category.purposeAmount = $('#purposeAmount-input').val();
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/api/categories/add_category",
                data: JSON.stringify(category),
                success: function (result) {
                    console.log(result);
                    ajaxBackToList();
                },
                error: function (e) {
                    alert("Error!")
                    console.log("ERROR: ", e);
                }
            });
        }

        function ajaxBackToList() {
            $.ajax({
                type: "GET",
                url: window.location.replace("/activeCategories"),
                success: function (result) {
                    console.log(result);
                },
                error: function (e) {
                    alert("Error!")
                    console.log("ERROR: ", e);
                }
            });
        }
    })
</script>

</body>
</html>